@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@config "../../tailwind.config.js";

body {
    font-family: 'Cairo', sans-serif;
}

.head-lines::before {
    @apply absolute start-5 top-0 h-[1px] w-16 rounded-3xl bg-main content-[''];
}

.head-lines::after {
    @apply absolute start-9 top-2 h-0.5 w-20 rounded-3xl bg-second content-[''];
}

@media (min-width: 1024px) {
    [dir='rtl'] .hero-border {
        background: url('/hero-border_ar.svg') center center / cover;
    }

    [dir='ltr'] .hero-border {
        background: url('/hero-border_en.svg') center center / cover;
    }
}

.pack-bg:hover {
    background: rgb(255, 130, 22);
    background: linear-gradient(160deg, rgba(255, 130, 22, 1) 0%, rgba(255, 184, 0, 1) 90%);
}

.counter-bg {
    background: url('/images/counter.jpg') center center / cover;
}

@media (max-width: 1024px) {
    .counter-bg {
        background: url('/images/counter.jpg') left center / cover;
    }
}

.pagination-active {
    @apply cursor-not-allowed border-second bg-second text-white;
}

.pagination-disabled-arrow {
    @apply cursor-not-allowed border-second bg-second fill-white;
}
